<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Working, Hours, Project, Web, System">
    <meta name="description" content="Register hours worked with a powerfull web system">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1fa470c815.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/aside.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../javascript/login.js"></script>
    <title>
        Trackgenix Web System
    </title>
</head>
<body>
    <header>
        <h1>
            Trackgenix
        </h1>
        <i class="fa-solid fa-bars"></i>
    </header>
    <div class="flex-container">
        <aside>
            <h2>
                Menu
            </h2>
            <div class="aside-content">
                <input type="search" placeholder="Search" class="icon-search">
                <nav>
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                    <a href="login.html">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </a>
                    <a href="employee-signup.html">
                        <i class="fa-solid fa-person"></i>
                        SignUp
                    </a>
                </nav>
                <div class="aside-info">
                    <h3>
                        Get in touch
                    </h3>
                    <div class="aside-info-p">
                        <p>
                            Gigatech is always looking for
                            talented software developers to join
                            our team. If you are interested in
                            working with us, please get in touch.
                            We would be happy to discuss your
                            experience and skills.
                        </p>
                    </div>
                    <div class="aside-info-links">
                        <ul class="ul-underline">
                            <li class="info-links">
                                <i class="fa-regular fa-envelope"></i>
                                <a href="#" class="white-links">
                                    trackgenix@gigatech.com
                                </a>
                            </li>
                        </ul>
                        <ul class="ul-underline">
                            <li class="info-links">
                                <i class="fa-solid fa-phone"></i>
                                <a href="#" class="white-links">
                                    415-200-0042
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li class="info-links">
                                <address>
                                    <i class="fa-solid fa-house"></i>
                                    621 Taylor St. ,San Francisco, CA
                                </address>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div class="main-footer-container">
            <main>
                <div class="login-form">
                    <img src="../assets/img/login-img.png" alt="login-img" id="img-login">
                    <form>
                        <div class="login-inputs-container">
                            <h2 id="login-title">Login</h2>
                            <div>
                                <input type="text" id="login-email" class="login-inputs">
                            </div>
                            <div>
                                <input type="password" id="login-password" class="login-inputs">
                            </div>
                            <div id="remember">
                                <input type="checkbox" name="remember">
                                <a href="#">Remember me</a>
                            </div>
                        </div>
                        <div class="login-buttons">
                            <button type="button" id="btn-back">Back</button>
                            <button type="submit" id="btn-login">Login</button>
                        </div>
                    </form>
                </div>
            </main>
            <footer>
                <div>
                    <a href="http://facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="http://instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="http://twitter.com" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
                <p>
                    ©GigaTech Software Solutions SA. INC. ALL RIGHTS RESERVED.
                </p>
            </footer>
        </div>
    </div>
</body>
</html>