body {
    font-family: 'Roboto', sans-serif;
    color: #41426F;
}

header {
    width: 100%;
    height: 120px;
    position:fixed;
    background-color: #41426F;
}

header h1{
    margin-top: 36px;
    margin-left: 32px;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #FFFFFF;
}

aside{
    margin-top: 120px;
    width: 20%;
    height: 959px;
    float: left;
    position: fixed;
    color: #FFFFFF;
    background-color: #41426F;
}

.aside-h2{
    width: 102px;
    height: 47px;
    margin-left: 17px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    border-bottom: 3px solid #AACE9B;
}

.aside-h3{
    margin-top: 145px;
    width: 80px;
    border-bottom: 3px solid #AACE9B;;
}

.aside-content{
    margin-top: 20px;
    margin-left: 17px;
}

.aside-search{
    height: 38px;
    width: 255px;
    left: 17px;
    top: 99px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #41426F;
    border: 1px solid #FFFFFF;
}

nav{
    height: 90px;
}

nav ul li{
    margin-bottom: 60px;
}

a{
    text-decoration: none;
}

nav ul li a{
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #41426F;
}

.nav-btn{
    padding: 20px 80px;
    border-radius: 5px;
    background: #FFFFFF;
}

.nav-btn:hover{
    padding: 20px 80px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #AACE9B;
}

.aside-info{
    margin-right: 16px;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.aside-info-p{
    margin-top: 20px;
}

.aside-info-links{
    margin: 20px 10px;
}

.info-links{
    margin-top: 10px;
    margin-bottom: 10px;
}

.ul-underline{
    width: 250px;
    border-bottom: 1px solid #AACE9B;
}

section div ul li a{
    color: #FFFFFF;
}

main{
    float: right;
    margin-top: 120px;
    width: 80%;
}

main section{
    margin: 70px 55px;
}

main form{
    margin: 70px 55px;
}

.border-blue{
    border-top: 3px solid #373867;
    border-bottom: 3px solid #373867;
}

.main-text{
    display: inline-block;
    width: 45%;
}

.main-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

.main-subtitle{
    margin-top: 12px;
    text-transform: uppercase;
}

.main-p{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    width: 411px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.main-img{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    width: 50%;
}

.img-border-radius{
    border-radius: 5px;
}

.btn-main{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 285px;
}

.btn-main:hover{
    background: #AACE9B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}