footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 147px;
    background-color: #41426F;
}

footer p{
    padding-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.fa-brands{
    color:#FFFFFF;
    font-size: 48px;
}

.fa-brands:hover{
    color:#AACE9B;
    font-size: 48px;
}