*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #41426F;
}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

aside{
    display: none;
}

.main-img{
    display: none;
}

.btn-main{
    display: none;
}

@media only screen and (min-width: 768px){
    .intro .back-img{
        display: none;
    }
    .main-img{
        display: initial;
    }
    .intro .main-img img{
        width: 380px;
    }
    .intro .main-text{
        width: 50%;
    }
    .intro .btn-main{
        display: initial;
    }
    .links div{
        max-width: 33%;
    }
    .links .vertical-line{
        border-left: 3px solid #373867;
        border-top: none;
    }
    .input-contact{
        width: 48%;
    }
}

@media only screen and (min-width: 1024px){
    header i.fa-solid.fa-bars{
        display: none;
    }
    main{
        margin-left: 20%;
    }
    aside{
        display:initial;
    }
    .intro .main-img img{
        width: 100%;
    }
    .main-text p{
        font-size: 21px;
    }
    .about-content p{
        order: 0;
    }
    .about .div-img{
        flex: 1 0 60%;
    }
    footer{
        margin-left: 20%;
    }
}